<!--Banner Section-->
<div class="application-visibility">
    <section class="component hero  bg-white small  no-overhang" data-component-name="Hero Banner">
        <div class="container">
            <div class="row">
                <div class="col-12 side-content">
                    <p class="top">Mentorship Program</p>
                    <h1 class="static">Want to match with the best MVP?</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="component application-form  bg-grey" data-component-name="Sitecore Application">
        <div id="mentee-form" class="container">
            <input type="hidden" id="applicationId" name="applicationId" asp-for="applicationid" />
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="appStep fieldSet" id="step_welcome" data-step="1" hidden>
                            <form id="mentee-form" class="form-horizontal" method="post" action="/submitApplication/">
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">Fill your information</h2>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-check">
                                        <p>By submitting my contact information, I confirm that I have read and agree to the Sitecore Privacy Policy, which explains how Sitecore collects, processes and shares my personal data. I consent to my data being processed in accordance with Sitecore’s Privacy Policy so that Sitecore can optimize my experience with the Sitecore brand.</p>
                                    </div>
                                </div>
                                <div class="form-group row" style="padding-left: 15px;">
                                    <div class="col-md-5 col-sm-12">
                                        <label class="fieldlabels">First Name: *</label>
                                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="" required/>
                                    </div>
                                    <div class="col-md-5 col-sm-12">
                                        <label class="fieldlabels">Last Name: *</label>
                                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-8">
                                        <div class="dropdown-group">
                                            <label for="Category">MVP Desired: *</label>
                                            <select class="form-select dropdown" id="dllcategory" asp-for="mvpcategory" required>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-8">
                                        <label class="fieldlabels">Country of birth: *</label>
                                        <select class="form-select dropdown" id="ddlCountry" asp-for="country" required>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-8">
                                        <label class="fieldlabels">Country of residence: *</label>
                                        <select class="form-select dropdown" id="ddlCountryResidence" asp-for="country" required>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-10">
                                        <label for="onlineAcvitity">Tech skills: *</label>
                                        <textarea class="form-control" id="techSkills" rows="3" asp-for="onlineactivity" required></textarea>
                                    </div>
                                </div>
                                <div class="col-12 toggle-submit">
                                    <button class="btn btn-primary" id="btnMenteeForm" type="submit">Next</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>

