<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <Configuration>Debug</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>C:\Users\flyle\source\repos\2022-Ava-Devs\docker\deploy\platform</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net48</TargetFramework>
  </PropertyGroup>
</Project>